<section class="header">
    <a href="https://heladeriaroma.com/" class="logo">
        <h2 class="font-allura">Heladeria Roma</h2>
    </a>
    <nav>
        <a href="https://heladeriaroma.com/">Home</a>
        <a href="https://heladeriaroma.com/carta">La Carta</a>
        <a href="https://heladeriaroma.com/nosotros">Nosotros</a>
        <a href="https://heladeriaroma.com/contactanos">Encuentranos</a>
    </nav>
    <div class="toggle" onclick="toggled()" style="width: 25px;">
        <img src="./dist/img/bars-solid.svg" width="25px" style="cursor: pointer;" alt="">
        <!--<i class="fas fa-bars"></i>-->
    </div>
</section>
  {{> cookies}}
