<div class="menu-mobile">
  <div class="nav-mobile">
    <div class="toggle" style="width: 25px;" onclick="toggled()">
      <img src="./dist/img/bars-solid.svg" width="25px" style="cursor: pointer;" alt="">
    </div>
    <ul>
      <li><a href="https://heladeriaroma.com/">Home</a></li>
      <li><a href="https://heladeriaroma.com/carta">La carta</a></li>
      <li><a href="https://heladeriaroma.com/nosotros">Nosotros</a></li>
      <li><a href="https://heladeriaroma.com/contactanos">Contactanos</a></li>

    </ul>
  </div>
</div>