<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://heladeriaroma.com/dist/css/main.css" />
  <link rel="stylesheet" href="https://heladeriaroma.com/dist/css/components.css" />
  <link rel="icon" href="https://heladeriaroma.com/dist/img/logo.jpeg" />
  <script src="https://kit.fontawesome.com/dc256b1234.js" crossorigin="anonymous"></script>
  <title>Heladeria Roma</title>
</head>

<body>
  {{> nav}}

  <section class="about" id="about">
    <div class="contentBx " style="text-align:center !important">
      <h2 class="titleText font-allura">Ooooh Error 404</h2>
      <p class="text">
        Al parecer la página que buscas no existe.
      </p>

      <a href="https://heladeriaroma.com/" class="btn">Ir al Inicio</a>
      <a href="https://heladeriaroma.com/nosotros" class="btn">Conocenos</a>
    </div>
  </section>

  {{> footer}}
  {{> nav2}}
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
  <script src="https://heladeriaroma.com/dist/js/index.js"></script>
</body>

</html>