<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://heladeriaroma.com/dist/css/main.css" />
    <link rel="stylesheet" href="https://heladeriaroma.com/dist/css/components.css">
    <link rel="icon" href="https://heladeriaroma.com/dist/img/logo.jpeg">
    <script src="https://kit.fontawesome.com/dc256b1234.js" crossorigin="anonymous"></script>
    <title>Heladeria Roma</title>
</head>

<body>
    {{> nav}}
    <div class="header-encuentranos">
        <div class="hero-encuentranos">
            <p class="font-allura">Encuentranos</p>
        </div>
    </div>
    <section class="about" id="contact" style="padding: 0px;" id="about">
        <div class="contentBx" style="padding: 50px;">
            <h2 class="titleText font-allura">Horario</h2>
            <p class="text">
            <ul style="list-style: none;">
                <li> 16:00 - 22:00 Lunes</li>
                <li> 16:00 - 22:00 Marte</li>
                <li> 16:00 - 22:00 Miercoles</li>
                <li> 16:00 - 22:00 Jueves</li>
                <li> 16:00 - 00:00 Viernes</li>
                <li> 16:00 - 00:00 Sabado</li>
                <li> 16:00 - 22:00 Domingo</li>
            </ul>
            Calle de la Marroquina, 28, 28030 Madrid
            </p>
            <a href="" class="btn">Vistanos en Realidad</a>
        </div>
        <div class="imgBx">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48589.25486208388!2d-3.7120458945044983!3d40.43479786678684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4225f10e10d687%3A0x167a1c5474be180f!2sHelader%C3%ADa%20Roma!5e0!3m2!1ses!2ses!4v1593202298570!5m2!1ses!2ses"
                width="100%" height="550" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
    </section>

    {{> footer}}
    {{> nav2}}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

    <script src="https://heladeriaroma.com/dist/js/index.js "></script>

</body>

</html>